<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZcjAIx9SECxCPAfaKDxQQ07PXYCnq26M</string>
	<key>GCM_SENDER_ID</key>
	<string>969762260473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.retaguardav2</string>
	<key>PROJECT_ID</key>
	<string>js-manutencao</string>
	<key>STORAGE_BUCKET</key>
	<string>js-manutencao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969762260473:ios:9ded9e1012cd6f8750a928</string>
</dict>
</plist>